#ludo_table td {
    width: 2em;
    height: 2em;
    border: 1px solid grey;
    text-align: center;
}

#ludo_table {
    border-collapse: collapse;
}

TD.B_square {background-color:blue;}
TD.R_square {background-color:red}
TD.G_square {background-color:green}
TD.Y_square {background-color:yellow}
TD.W_square {background-color:white}

TD.S_square {background-color:magenta}
TD.S_B_square {background-color:maroon}
TD.S_R_square {background-color:maroon}
TD.S_G_square {background-color:maroon}
TD.S_Y_square {background-color:maroon}

TD.BG_square {background-color:white}
TD.GY_square {background-color:white}
TD.RB_square {background-color:white}
TD.YR_square {background-color:white}
TD.RBGY_square {background-color:white}
