#ludo_table td {
    width: 2em;
    height: 2em;
    border: 0.1px solid rgb(193, 213, 210);
    text-align: center;
    background-position: center;
    background-size: contain;
    position: relative;

}

#ludo_table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

TD.B_square {background-color:rgb(32, 173, 227)}
TD.R_square {background-color:rgb(228, 15, 17)}
TD.G_square {background-color:rgb(103, 172, 43)}
TD.Y_square {background-color:rgb(249, 171, 9)}
TD.W_square {background-color:white}

TD.S_square {
    background-image: url("../images/stars.png");
    height: fit-content;
    background-repeat: no-repeat;
}

TD.S_B_square{
    background-image: url("../images/B_star.png");
    height: fit-content;
    background-repeat: no-repeat;
}
TD.S_R_square {
    background-image: url("../images/R_star.png");
    height: fit-content;
    background-repeat: no-repeat;
}
TD.S_G_square {
    background-image: url("../images/G_star.png");
    height: fit-content;
    background-repeat: no-repeat;
}
TD.S_Y_square {
    background-image: url("../images/Y_star.png");
    height: fit-content;
    background-repeat: no-repeat;
}

TD.BG_square {
    background: linear-gradient(to bottom left, rgb(103, 172, 43) 50%, rgb(32, 173, 227) 50%);
}
TD.GY_square {
    background: linear-gradient(to bottom right, rgb(103, 172, 43) 50%, rgb(249, 171, 9) 50%);
}
TD.RB_square {
    background: linear-gradient(to bottom right, rgb(32, 173, 227) 50%, rgb(228, 15, 17) 50%);
}
TD.YR_square {
    background: linear-gradient(to bottom left, rgb(249, 171, 9) 50%, rgb(228, 15, 17) 50%);
}
TD.RBGY_square {
    background: conic-gradient(rgb(103, 172, 43) 0deg 45deg, rgb(249, 171, 9) 45deg 135deg, rgb(228, 15, 17) 135deg 225deg, rgb(32, 173, 227) 225deg 315deg, rgb(103, 172, 43) 315deg 360deg);
}